/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 certifieddev
 */

/**
 * TABLE OF CONTENT
 *
 * Reset..........................Removed browser default style
 * Custom properties..............Global variables
 * Typography.....................Typography style
 * Header.........................Header style
 * Home.........................Home style
 * Sub service.........................Sub service style
 * About.........................About style
 * Portfolio.........................Portfolio style
 * Service.........................Service style
 * Stats.........................Stats style
 * Proofs.........................Proofs style
 * Contact.........................Contact style
 * Footer.........................Footer style
 * Media queries..................Responsive for all devices
 */

 /*-----------------------------------*\
  #RESET
\*-----------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--BG-COLOR);
  color: var(--TEXT-COLOR);
}

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /* colors */

    --BG-COLOR: #fff;
    --TEXT-COLOR: #000;
    --SECONDARY-COLOR: #a09dab;
    --MAIN-COLOR: #3c47e6;

    /* typography */

    --BIG-FONT: 5rem;
    --H2-FONT: 3rem;
    --P-FONT: 1.2rem;
    
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 2rem 3rem 0;
  transition: .3s;
}

.header.sticky {
  background: var(--BG-COLOR);
  padding: 5px 3rem 0;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.logo img {
  width: 200px;
  height: 100px;
}

.navlist {
  display: flex;
}

.navlist li {
  position: relative;
}

.navlist a {
  font-size: var(--P-FONT);
  color: var(--TEXT-COLOR);
  font-weight: 500;
  padding: 10px 27px;
}

.navlist a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--MAIN-COLOR);
  bottom: 0;
  left: 0;
  transition: ease .40s;
}

.navlist a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 35px;
  color: var(--TEXT-COLOR);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.top-btn {
  display: inline-block;
  padding: 9px 15px;
  background: transparent;
  border: 2px solid var(--MAIN-COLOR);
  border-radius: 30px;
  color: var(--TEXT-COLOR);
  letter-spacing: 1px;
  font-size: var(--P-FONT);
  font-weight: 500;
  transition: ease .50s;
}

.top-btn:hover {
  transform: scale(1.1);
  background: var(--MAIN-COLOR);
  border: 2px solid var(--MAIN-COLOR);
  color: var(--BG-COLOR);
}

/*-----------------------------------*\
  #HOME
\*-----------------------------------*/

section {
  padding: 100px 18%;
}

.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: url(../images/background.jpg);
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 4rem;
}

.home-text h3 {
  margin: 1rem 0;
  color: var(--MAIN-COLOR);
  font-size: 4rem;
  font-weight: 500;
}

.home-text h1 {
  margin: 10px 0px 25px;
  font-size: var(--BIG-FONT);
  line-height: 1;
  font-weight: 500;
}

.home-text h5 {
  margin-bottom: 23px;
  font-size: 2rem;
  font-weight: 500;
}

.em {
  color: var(--MAIN-COLOR);
}

.home-text p {
  font-size: var(--P-FONT);
  color: var(--SECONDARY-COLOR);
  line-height: 28px;
  margin-bottom: 20px;
}

.social a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--MAIN-COLOR);
  font-size: 17px;
  color: var(--BG-COLOR);
  margin-right: 22px;
  margin-bottom: 30px;
}

.social a:hover {
  transform: scale(1.1);
  background: var(--BG-COLOR);
  color: var(--MAIN-COLOR);
  border: 2px solid var(--MAIN-COLOR);
  transition: .4s;
}

.btn {
  display: inline-block;
  color: var(--BG-COLOR);
  background: var(--MAIN-COLOR);
  font-size: var(--P-FONT);
  padding: 10px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 30px;
  transition: ease .4s;
}

.btn:hover {
  transform: scale(1.1);
  color: var(--MAIN-COLOR);
  background: var(--BG-COLOR);
  border: 2px solid var(--MAIN-COLOR);
}

.home-img img {
  max-width: 100%;
  width: 540px;
  height: auto;
}

/*-----------------------------------*\
  #SUB SERVICE
\*-----------------------------------*/

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.sub-box {
  padding: 45px 45px;
  transition: ease .5s;
  cursor: pointer;
}

.sub-img img {
  max-width: 100%;
  width: 6rem;
  height: auto;
  margin-bottom: 2rem;
}

.sub-img h3 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.sub-box p {
  font-size: var(--P-FONT);
  color: var(--SECONDARY-COLOR);
  line-height: 29px;
}

.sub-box:hover {
  background: #fff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
  will-change: transform;
  transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  gap: 2rem;
}

.about-img img {
  max-width: 100%;
  width: 340px;
  height: auto;
}

.about-text h2 {
  font-size: var(--H2-FONT);
  font-weight: 500;
  margin: 8px 0px 25px;
  line-height: 1.1;
}

.nowrap {
  text-wrap: nowrap;
}

.about-text h3 {
  color: var(--MAIN-COLOR);
  font-size: 2rem;
  font-weight: 500;
}

.about-text p {
  max-width: 550px;
  font-size: var(--P-FONT);
  color: var(--SECONDARY-COLOR);
  line-height: 28px;
  margin-bottom: 4.2rem;
}

/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.heading {
  text-align: center;
}

.heading h2 {
  font-size: var(--H2-FONT);
  font-weight: 500;
  margin: 7px 0px 20px;
  line-height: 1.1;
}

.heading h3 {
  color: var(--MAIN-COLOR);
  font-size: 2rem;
  font-weight: 500;
}

.heading p {
  font-size: var(--P-FONT);
  color: var(--SECONDARY-COLOR);
  line-height: 2.4rem;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
}

.col {
  position: relative;
}

.col img {
  max-width: 100%;
  width: 550px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  transition: all .40s;
}

.layer:hover {
  background: linear-gradient(rgba(0,0,0,0.5) 0%, #191919);
}

.layer h3 {
  position: absolute;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  color: var(--BG-COLOR);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .40s;
}

.layer:hover h3 {
  bottom: 52%;
  opacity: 1;
}

.layer a {
  position: absolute;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: var(--SECONDARY-COLOR);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .40s;
}

.layer:hover a {
  bottom: 38%;
  opacity: 1;
}

.layer:hover a:hover {
  color: var(--BG-COLOR);
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.row {
  background: #fff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
  padding: 45px;
  transition: ease .45s;
  cursor: pointer;
}

.s img {
  height: 65px;
  width: 65px;
  background: var(--MAIN-COLOR);
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.s.s-two img {
  background: #addfc0;
}

.s.s-three img {
  background: #222446;
}

.s.s-four img {
  background: #89b3aa;
}

.row h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2px;
}

.row p {
  font-size: var(--P-FONT);
  color: var(--SECONDARY-COLOR);
  line-height: 28px;
}

.row:hover {
  will-change: transform;
  transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}

/*-----------------------------------*\
  #STATS
\*-----------------------------------*/

.cta-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
}

.wrap {
  background: #fff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
  padding: 50px;
  transition: ease .40s;
  cursor: pointer;
}

.one{
  background: #addfc0;
}

.two {
  background: #686dc7;
}

.three {
  background: #89b3aa;
}

.wrap h3 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 2px;
}

.wrap p {
  font-size: var(--P-FONT);
}

/*-----------------------------------*\
  #PROOF
\*-----------------------------------*/

.screenshot-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
  padding: 2rem 0;
  margin: auto;
}

.slider-container {
  display: flex;
  gap: 2rem;
  transition: transform 0.3s ease-in-out;
  width: 100%; 
}

.slide {
  min-width: 100%;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slide img {
  max-width: 100%;
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.5s ease;
}

.slide:hover img {
  transform: scale(1.1);
}

.layers {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 500px;
  height: 250px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide:hover .layers {
  opacity: 1;
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact {
  background: #222446;
  width: 64%;
  margin: 100px auto;
  padding: 70px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-image: url(../images/intro.png);
  background-size: cover;
}

.center h3 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 3px;
  color: var(--BG-COLOR);
}

.center p {
  font-size: 22px;
  color: var(--BG-COLOR);
  line-height: 26px;
  margin-bottom: 25px;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.contact-icons a {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: var(--BG-COLOR);
    border: 2px solid var(--BG-COLOR);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.contact-icons .whatsapp:hover {
    transform: scale(1.4);
    color: #25D366;
    border: 2px dotted #25D366;
}

.contact-icons .instagram:hover {
    transform: scale(1.4);
    color: #E4405F;
    border: 2px dotted #E4405F;
}

.contact-icons .linkedin:hover {
    transform: scale(1.4);
    color: #3093e4;
    border: 2px dotted #3093e4;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--MAIN-COLOR);
  background-image: url(../images/intro.png);
  background-size: cover;
}

.footer-text p {
  font-size: 1.6rem;
  color: var(--SECONDARY-COLOR);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--BG-COLOR);
  border-radius: 50%;
  border: .2rem solid var(--MAIN-COLOR);
  outline: .2rem solid transparent;
  transition: .4s ease;
}

.footer-iconTop a:hover {
  outline-color: var(--BG-COLOR);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #333;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (max-width: 1425px) {
  .header {
    padding: 16px 3%;
    transition: .3s;
    min-width: 100%;
  }

  .header.sticky {
    padding: 10px 3%;
    transition: .3s;
  }

  section {
    padding: 70px 3%;
    transition: .3s;
  }

  .portfolio-content {
    grid-template-columns: repeat(3, 2fr);
  }

  .col img {
    height: 450px;
  }

  /* .service-content {
    grid-template-columns: repeat(1fr);
  } */

  .contact {
    width: 95%;
    transition: .3s;
  }

  :root {
    --BIG-FONT: 4rem;
    --H2-FONT: 2.3rem;
    --P-FONT: 1.4rem;
    transition: .3s;
  }
}

@media (max-width: 970px)  {
  #menu-icon {
    display: block;
  }

  .home {
    min-height: 80vh;
  }

  .navlist {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: var(--MAIN-COLOR);
    text-align: center;
    transition: all .40s;
    width: 100%;
  }

  .navlist a {
    display: block;
    padding: 1.2rem;
    margin: 1.5rem;
    border-right: 2px solid var(--BG-COLOR);
    color: var(--BG-COLOR);
    transition: ease .3s;
  }

  .navlist a:hover {
    transform: scale(1.1);
    background: var(--BG-COLOR);
    color: var(--MAIN-COLOR);
  }

  .navlist a::after {
    display: none;
  }

  .navlist.active {
    top: 100%;
  }

  .items {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
   }

  .home {
    grid-template-columns: 1fr;
    min-height: 130vh;
    gap: 1rem;
  }

  .home-text {
    padding-top: 55px;
  }

  .home-img {
    text-align: center;
  }

  .home-img img {
    width: 100%;
    max-width: 440px;
    height: auto;
  }

  .items {
    grid-template-columns: 1fr;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
    margin-bottom: 30px;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
  }

  .col img {
    height: 500px;
  }

  .service-content {
    grid-template-columns: 1fr;
  }

  .cta-box {
    grid-template-columns: 1fr;
  }
  
  :root {
    --BIG-FONT: 3.4rem;
    --H2-FONT: 2rem;
  }

  section {
    padding: 10% 3%;
    transition: .3s;
  }

  .screenshot-section {
    width: 80%;
  }

  .slider-container {
    gap: 1rem;
  }

  .layers {
    width: 80%;
  }

  .contact .contact-icons{
    width: 100%;
    max-width: 310px;
  }
}

